.staking {
  padding-top: 120px;
  min-height: 100vh;
  background-image: url("../../Assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3rem;
  padding-bottom: 2rem;
  flex-direction: column;
  position: relative;
}
.connect {
  align-self: flex-end;
  margin-right: 3rem;
  width: 250px;
  height: 50px;
  background: rgba(124, 124, 124, 0.3);
  color: white;
  font-size: 1.2rem;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}
.top-staking {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: rgba(124, 124, 124, 0.3);
  border: 1px solid white;
  width: 1200px;
  height: auto;
  padding: 30px;
  gap: 20px;
  border-radius: 10px;
}
.top-staking h1 {
  color: #f7931a;
  font-size: 3rem;
}
.top-staking p:first-of-type {
  color: white;
  opacity: 0.6;
  font-size: 1.2rem;
  max-width: 100%;
}
.staking-box-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.stake-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0f0f0f;
  text-align: center;
  border: 1px solid white;
  flex: 1;
  color: white;
  height: 200px;
  gap: 20px;
  border-radius: 10px;
}
.stake-box p {
  font-size: 2rem;
}
.stake-box button {
  background: rgba(124, 124, 124, 0.3);
  width: 60%;
  padding: 10px 0px;
  color: white;
  font-size: 1.2rem;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}
.stake-box button:hover,
.approve:hover,
.connect:hover {
  background-color: black;
}
.staking-input {
  width: 100%;
  height: 50px;
  color: white;
  background: rgba(124, 124, 124, 0.3);
  font-size: 1.4rem;
  border-radius: 10px;
  border: 1px solid white;
  padding-left: 20px;
}
.staking-input::placeholder {
  color: white;
}
.staking-input::-webkit-outer-spin-button,
.staking-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.staking-input[type="number"] {
  -moz-appearance: textfield;
}
.stake-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.stake-row h2 {
  color: #f7931a;
  font-size: 1rem;
}
.stake-row p {
  color: white;
  opacity: 0.6;
}
.approve {
  align-self: center;
  background: rgba(124, 124, 124, 0.3);
  width: 200px;
  padding: 15px 0px;
  color: white;
  font-size: 1.2rem;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
}
.bottom-staking {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  background: rgba(124, 124, 124, 0.3);
  border: 1px solid white;
  gap: 20px;
  border-radius: 10px;
}
.bottom-staking .stake-box {
  width: 300px;
  padding: 10px;
}

.overlay {
  position: fixed;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.7);
  inset: 0;
  display: none;
}

.pop-up {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  z-index: 52;
  transform: translate(-50%, -50%);
  background-color: #252525 !important;
  border-radius: 20px !important;
  border: 1px solid #555 !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  padding: 10px;
  gap: 10px;
  height: 332px;
}
.pop {
  flex: 0.5;
  background: rgba(124, 124, 124, 0.3);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  width: 100%;
  gap: 20px;
  cursor: pointer;
}
.pop img {
  max-width: 100%;
  width: 50px;
  object-fit: contain;
}
.pop h2 {
  font-size: 1rem;
  text-transform: uppercase;
}
.display-flex {
  display: flex;
}

@media screen and (max-width: 1220px) {
  .top-staking {
    width: 95%;
  }
  .stake-box p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 786px) {
  .stake-box p {
    font-size: 1.1rem !important;
  }
  .bottom-staking {
    width: 95%;
  }
}
@media screen and (max-width: 690px) {
  .staking-box-div {
    flex-direction: column;
    justify-content: center;
  }
  .stake-box {
    width: 360px;
    padding: 20px;
  }
  .top-staking h1 {
    font-size: 2rem;
  }
  .top-staking p:first-of-type {
    font-size: 16px;
  }
  .stake-box p {
    font-size: 1.3rem !important;
  }
}
@media screen and (max-width: 440px) {
  .stake-row {
    gap: 2rem;
  }
  .stake-row p {
    text-align: end;
  }
  .stake-box {
    width: 97%;
  }
}
