.works {
  background-color: #090909;
  width: 100%;
  padding: 3rem 0rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.works h1 {
  font-weight: 700;
  font-size: 3.5rem;
  text-align: center;
}
.box-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0rem 5rem;
  flex-wrap: wrap;
}
.box {
  width: 303px;
  margin: 2rem 0rem;
  height: 221px;
  background-color: #0f0f0f;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  flex-direction: column;
  text-align: center;
  border: 2px solid #2d2d2d;
  border-radius: 10px;
  /* row-gap: 10px; */
  padding: 20px 0px;
}
.number {
  align-self: flex-start;
  justify-self: center;
  grid-row: 1/2;
  font-size: 2rem;
  font-weight: 700;
  width: 67px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 50%;
  background-color: white;
}
.work-desc {
  grid-row: 2/3;
  width: 90%;
  justify-self: center;
  text-align: center;
  align-self: flex-start;
  line-height: 1.5;
}
@media screen and (max-width: 464px) {
  .works {
    gap: 2rem;
  }
  .works h1 {
    font-size: 2.5rem;
  }
  .box-div {
    padding: 0rem 1rem;
  }
}
