.footer {
  background-color: #090909;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0rem;
  gap: 15px;
}
.foot-logo {
  max-width: 200px;
  object-fit: contain;
}
.social-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social-div svg {
  background-color: rgba(255, 255, 255, 0.14);
  color: white;
  width: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  height: 30px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 6px;
}
.social-div svg:hover {
  background-color: black;
}
